<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>

<body>
    <h1>Task Manager</h1>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Enter a new task" required />
        <button type="submit">Add Task</button>
    </form>

    <ul>
        <% tasks.forEach(task=>{%>
            <li>
                <%= task.title%>
                    <a href="/delete/<%= task._id%>">Delete</a>
            </li>
            })%>
    </ul>
</body>

</html>